{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
        </head>
        <body>
            <header>
                <h1>{{ title }}</h1>
            </header>
            <main>
                <p>Simple page</p>
            </main>
        </body>
    </html>
{% endspaceless %}