{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
        </head>
        <body>
            <header>
                <h1>{{ title }}</h1>
            </header>
            <main>
                {{ cell('Teaser', { title: 'Teaser basic' }) }}
                {{ cell('Teaser', { title: 'Teaser alternative' }, { co: 'TeaserAlt' }) }}
            </main>
        </body>
    </html>
{% endspaceless %}